<!-- #2 Track (Left) -->
<div class="flex flex-col items-center w-32">
  <div class="w-30 h-30 border-2 border-slate-400 shadow-lg shadow-gray1 overflow-hidden">
    <% if tracks['items'][1]['album']['images'].any? %>
      <%= image_tag tracks['items'][1]['album']['images'].first['url'], class: "w-full h-full object-cover", title: "#{tracks['items'][1]['name']} - #{tracks['items'][1]['artists'].map { |artist| artist['name'] }.join(', ')}" %>
    <% else %>
      <%= image_tag "default_profile.jpg", class: "w-full h-full object-cover", title: "#{tracks['items'][1]['name']} - #{tracks['items'][1]['artists'].map { |artist| artist['name'] }.join(', ')}" %>
    <% end %>
  </div>
</div>

<!-- #1 Track (Middle) -->
<div class="flex flex-col items-center w-50">
  <div class="w-50 h-50 border-2 border-amber-300 shadow-lg shadow-gray1 overflow-hidden">
    <% if tracks['items'][0]['album']['images'].any? %>
      <%= image_tag tracks['items'][0]['album']['images'].first['url'], class: "w-full h-full object-cover", title: "#{tracks['items'][0]['name']} - #{tracks['items'][0]['artists'].map { |artist| artist['name'] }.join(', ')}" %>
    <% else %>
      <%= image_tag "default_profile.jpg", class: "w-full h-full object-cover", title: "#{tracks['items'][0]['name']} - #{tracks['items'][0]['artists'].map { |artist| artist['name'] }.join(', ')}" %>
    <% end %>
  </div>
</div>

<!-- #3 Track (Right) -->
<div class="flex flex-col items-center w-32">
  <div class="w-30 h-30 border-2 border-amber-800 shadow-lg shadow-gray1 overflow-hidden">
    <% if tracks['items'][2]['album']['images'].any? %>
      <%= image_tag tracks['items'][2]['album']['images'].first['url'], class: "w-full h-full object-cover", title: "#{tracks['items'][2]['name']} - #{tracks['items'][2]['artists'].map { |artist| artist['name'] }.join(', ')}" %>
    <% else %>
      <%= image_tag "default_profile.jpg", class: "w-full h-full object-cover", title: "#{tracks['items'][2]['name']} - #{tracks['items'][2]['artists'].map { |artist| artist['name'] }.join(', ')}" %>
    <% end %>
  </div>
</div>