<% tracks['items'].each_with_index do |track, index| %>
  <div class="rounded-xl">
    <div class="flex items-center space-x-4 p-4">
      <div class="text-white text-xs w-5 text-center rounded-full">
        <%= index + 1 %>
      </div>
      <% if track['album']['images'].any? %>
        <%= image_tag track['album']['images'].first['url'], class: "w-20 h-20 border-0 shadow-md shadow-gray1" %>
      <% else %>
        <%= image_tag "default_profile.jpg", class: "w-20 h-20 border-0 shadow-md shadow-gray1" %>
      <% end %>
      <div class="text-gray-100">
        <h2 class="text-xl"><%= track['name'] %></h2>
        <p class="text-xs opacity-50"><%= track['artists'].map { |artist| artist['name'] }.join(', ') %></p>
      </div>
    </div>
  </div>
<% end %>