<div class="absolute top-4 right-10">
  <button id="avatarButton" 
        data-dropdown-toggle="userDropdown" 
        class="flex items-center text-base font-medium text-white rounded-4xl hover:text-gray-300 border border-gray-700 focus:outline-none p-2" 
        type="button">
    <div class="flex items-center gap-3">
      <% if @profile && !@profile["images"].empty? %>
        <%= image_tag @profile["images"].first["url"], class: "w-10 h-10 rounded-full" %>
      <% else %>
        <%= image_tag "default_profile.jpg", class: "w-10 h-10 rounded-full" %>
      <% end %>
      <span class="text-white"><%= @profile["display_name"] %></span>
      <svg class="w-3 h-3 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
      </svg>
    </div>
  </button>

  <!-- Dropdown menu -->
  <div id="userDropdown" class="z-10 hidden bg-black1 divide-y divide-gray-700 rounded-xl shadow-lg w-48 border border-gray-700">
    <div class="px-4 py-3 text-sm text-gray-300">
      <div class="font-medium truncate"><%= @profile["email"] %></div>
    </div>
    <div class="py-1">
      <%= button_to "/logout", 
          method: :delete, 
          class: "block w-full text-left px-4 py-2 text-sm text-gray-300 hover:bg-gray-700 rounded-b-xl" do %>
        Sign out
      <% end %>
    </div>
  </div>
</div>



<div class="flex flex-row h-screen w-full">
  
  <!-- Profile and playback stuff-->  
  <div class="flex flex-1 flex-col h-full bg-black1 items-center justify-center p-4">
    
    <div class="relative">
    <!-- profile pic circle -->
      <div class="w-75 h-75 rounded-full object-cover border-4 border-white shadow-md bg-gray-300">
        <% if not @profile["images"].empty? %>
          <%= image_tag @profile["images"].first["url"], class: "w-full h-full rounded-full object-cover" %>
        <% else %>
          <%= image_tag "default_profile.jpg", class: "w-full h-full rounded-full object-cover" %>
        <% end %>
      </div>

      <div class="w-75 h-75 rounded-full object-cover border-4 border-white shadow-md bg-gray-300">
      </div>


      <div class="absolute mt-10 w-75 h-25 bg-white rounded-lg">
        <% if @playback_state %>
          <p class="font-medium text-sm truncate"><%= @playback_state["item"]["name"] %></p>
          <p class="text-xs text-gray-600 truncate">
            <%= @playback_state["item"]["artists"].map { |artist| artist["name"] }.join(", ") %>
          </p>
        <% else %>
          <p class="font-medium text-sm truncate">No track is currently playing.</p>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Artists section -->
  <div class="flex flex-1 flex-col h-full bg-black1 items-center justify-center p-4">
    <h1 class="text-2xl text-center text-white mb-4">Your Top Artists</h1>
    
    <!-- Artist Tabs -->
    <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
      <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="artistTabs" data-tabs-toggle="#artistTabContent" role="tablist">
        <li class="mr-2" role="presentation">
          <button class="inline-block p-4 border-b-2 rounded-t-lg" id="artists-short-tab" data-tabs-target="#artists-short" type="button" role="tab" aria-controls="artists-short" aria-selected="false">4 Weeks</button>
        </li>
        <li class="mr-2" role="presentation">
          <button class="inline-block p-4 border-b-2 rounded-t-lg" id="artists-medium-tab" data-tabs-target="#artists-medium" type="button" role="tab" aria-controls="artists-medium" aria-selected="false">6 Months</button>
        </li>
        <li class="mr-2" role="presentation">
          <button class="inline-block p-4 border-b-2 rounded-t-lg" id="artists-long-tab" data-tabs-target="#artists-long" type="button" role="tab" aria-controls="artists-long" aria-selected="false">All Time</button>
        </li>
      </ul>
    </div>

    <!-- Artist Tab Content -->
    <div id="artistTabContent">
      <div class="hidden" id="artists-short" role="tabpanel" aria-labelledby="artists-short-tab">
        <%= render partial: 'dashboard/artist_stats', locals: { artists: @top_artists[:short_term] } %>
      </div>
      <div class="hidden" id="artists-medium" role="tabpanel" aria-labelledby="artists-medium-tab">
        <%= render partial: 'dashboard/artist_stats', locals: { artists: @top_artists[:medium_term] } %>
      </div>
      <div class="hidden" id="artists-long" role="tabpanel" aria-labelledby="artists-long-tab">
        <%= render partial: 'dashboard/artist_stats', locals: { artists: @top_artists[:long_term] } %>
      </div>
    </div>
  </div>



  <!-- Tracks section -->
  <div class="flex flex-1 flex-col h-full bg-black1 items-center justify-center p-4">
    <h1 class="text-2xl text-center text-white mb-4">Your Top Tracks</h1>

    <!-- Track Tabs -->
    <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
      <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="trackTabs" data-tabs-toggle="#trackTabContent" role="tablist">
        <li class="mr-2" role="presentation">
          <button class="inline-block p-4 border-b-2 rounded-t-lg" id="tracks-short-tab" data-tabs-target="#tracks-short" type="button" role="tab" aria-controls="tracks-short" aria-selected="false">4 Weeks</button>
        </li>
        <li class="mr-2" role="presentation">
          <button class="inline-block p-4 border-b-2 rounded-t-lg" id="tracks-medium-tab" data-tabs-target="#tracks-medium" type="button" role="tab" aria-controls="tracks-medium" aria-selected="false">6 Months</button>
        </li>
        <li class="mr-2" role="presentation">
          <button class="inline-block p-4 border-b-2 rounded-t-lg" id="tracks-long-tab" data-tabs-target="#tracks-long" type="button" role="tab" aria-controls="tracks-long" aria-selected="false">All Time</button>
        </li>
      </ul>
    </div>

    <!-- Track Tab Content -->
    <div id="trackTabContent">
      <div class="hidden" id="tracks-short" role="tabpanel" aria-labelledby="tracks-short-tab">
        <%= render partial: 'dashboard/track_stats', locals: { tracks: @top_tracks[:short_term] } %>
      </div>
      <div class="hidden" id="tracks-medium" role="tabpanel" aria-labelledby="tracks-medium-tab">
        <%= render partial: 'dashboard/track_stats', locals: { tracks: @top_tracks[:medium_term] } %>
      </div>
      <div class="hidden" id="tracks-long" role="tabpanel" aria-labelledby="tracks-long-tab">
        <%= render partial: 'dashboard/track_stats', locals: { tracks: @top_tracks[:long_term] } %>
      </div>
    </div>
  </div>

</div>
